<div style="color: #64676C";font: sans-serif";margin-left: 10px" >

  <div class="hello", style="padding-bottom: 4px">
    <p>Bonjour<%=" "+@user.first_name.capitalize if @user.first_name? %>,</p>
  </div>


  <div class="body", style="padding-bottom: 4px">
    <p>Et bienvenue sur Asanasano.</p>

    <p>Merci de nous avoir fait confiance jusqu'ici.</p>

    <p>Vous pouvez d'ores et déjà utiliser le service: créer des groupes, invitez vos clients et prospects à les rejoindre, proposez des cours, des séances associées...</p>

    <p>Pour que votre profil PRO soit visible des autres utilisateurs, il suffit de nous demander de valider votre compte. Un petit mail suffit! </p>

    <p>Nous nous plions en quatre pour vous simplifier la vie et restons à votre disposition si vous avez la moindre petite interrogation. Alors n'hésitez pas à nous écrire, nous aurons plaisir à vous lire et vous répondre au plus vite.</p>

    <p>A très vite,</p>

  </div>

  <div class="signature", style="line-height: 0.4em">
    <p>Ariane</p>
    <p>Fondatrice de Asanasano</p>
    <p><strong><a href="mailto:ariane@asanasano.com", style="color: #64676C";font-family:sans-serif">ariane@asanasano.com</a></strong></p>
    <div style="text-align: center">
      <a href="www.asanasano.com"><img src="https://www.asanasano.com/assets/ASANASANO-e81a1dd672b0542eb090bb433b0c2b5aa54e456b8dd03cdc3be40b41f341978b.png" alt="Logo Asanasano", style="width:215px;height:60.2;border:0;margin:0 auto"></a>
    </div>
  </div>
</div>
