.coach-pic {
  img {
    width: 64px;
  }
}
.price-slot p {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: black;
}
.pencil {
  color:white;
  text-align: right;
}
.pencil :hover {
  color: #E56161;
}
.buy-btn {
  text-align: center;
  border: none;
  border-radius: 2px;
  color: white;
  background-image: linear-gradient(to top, #E56161 25%, #ffb199 100%);
  font-size: 18px;
  padding: 5px 15px;
}
.course-title h2 {
  margin-top: 14px;
}
.wrapper-slots-display {
  background-image: linear-gradient(-225deg,
                    rgba(96,108,136,0.6),
                    rgba(96,108,136,0.6)),
                    url('bg-form2.jpg');
  background-size: cover;
}
.wrapper-slot-card {
  margin: 30px 0px;
  @include box-shadow(#494444 2px 1px 5px);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 50px;
  border-radius: 2px;
}
.wrapper-new-slot {
  margin: 30px 0px;
  @include box-shadow(#494444 2px 1px 5px);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  padding: 20px 53px;
}
.desincription-link {
  color: #999999;
  font-size: 12px;
}
.desincription-link:hover {
  color: #777777;
  text-decoration: none;
}
.desincription-link:focus {
  color: #777777;
  text-decoration: none;
}
.info-link {
  cursor: pointer;
  margin-bottom: 30px;
}
.info-link:hover {
  color: #E56161;
}
#more-course-info {
  padding-bottom: 50px;
}
.edit-delete-icons-color {
  color: white;
}
.edit-delete-icons-color:hover {
  color: #E56161;
}
.banner-show {
  color: white;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  opacity:1;
}
.margin-slot-buttons {
  margin-right: 30px;
  margin-top: 13px;
}
.course-show-header {
  padding: 0px;
}
