// DASHBOARD BACKGROUND CONTAINER //
.dashboard-bg-container {
position:relative;
padding-bottom: 100px;
color: black;
background-size: cover;
background-color: white;
}

.add_a_group_button {
  margin-top: 10px;

}

.group-crud-buttons {
  margin-bottom: 20px;
  margin-top: 30px;
}

// GROUP-CONTAINER //
.group-container {
  background-color: #ECECEC;
  margin: 30px 10px 30px 10px;

}

.group-title {
  color: black;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}


// CARD-CONTAINER //
.card {
  position: relative;
  height: 340px;
  width: 220px;
  background-color: white;
  color: black;
  text-shadow: none;
  margin-top: 40px;
  margin-bottom: 40px;
  border: #CCCCCC solid 1px;
}


// BORDER  //
.b {
border: solid black 1px;
}

// COURSE_INFO //
.course-info {

}

.course-name-div {
  position: absolute;
  top: 0px;
  background-color: #5288F1;
  text-align: center;
  width: 218px;
  height: 52px;
  padding-top: 20px;
}
.course-name{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}


.sport-icon {
  position: absolute;
  z-index:1;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  border: solid red 1px;
  margin-left: 88px;
  margin-top: -20px;
  background-color: white;
}

.coach-info {

}

.coach-name {

}

.card-user {

}


// DASHBOARD-COURSE-CARD //
.course-status {

}
.published-green-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #60C95D;
  border-radius: 50px;
  height: 15px;
  width: 15px;
}

.non-published-red-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #F96161;
  border-radius: 50px;
  height: 15px;
  width: 15px;
}

// DESINSCRIPTION BUTTON //
#se-desinscrire {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 218px;
  height: 52px;
  background-color: #AFAFAF;
  border: solid 1px #878787;
  padding-top: 12px;
}
#desinscription-text {
  color: white;
  // text-transform: uppercase;
  font-size: 14px;
}

// AJOUTER-UNE-SEANCE BUTTON //
#ajouter-une-seance {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 218px;
  height: 52px;
  background-color: #FF8606;
  border: solid 1px #FF4A00;
  padding-top: 12px;
}
#ajouter-une-seance-text {
  color: white;
  // text-transform: uppercase;
  font-size: 14px;
}


// METTRE-EN-LIGNE BUTTON //
#mettre-en-ligne {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 218px;
  height: 52px;
  background-color: #60C95D;
  border: solid 1px #57AF54;
  padding-top: 12px;
}
#mettre-en-ligne-text {
  color: white;
  // text-transform: uppercase;
  font-size: 14px;
}

// TOUTES-LES-SEANCES BUTTON //
#toutes-les-seances {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 218px;
  height: 52px;
  background-color: #60C95D;
  border: solid 1px #57AF54;
  padding-top: 12px;
}
#toutes-les-seances-text {
  color: white;
  // text-transform: uppercase;
  font-size: 14px;
}



// SLOT_INFO //
.next_slot {
  position: absolute;
  top: 130px;
}

#calendar-icon {
  position: absolute;
  left: 30px;
  top: 10px;
}
.text-date {
  position: absolute;
  color: blue;
  left: 60px;
  width: 180px;
  font-size: 12px;
  top: 10px;
}

#clock-icon {
  position: absolute;
  left: 30px;
  top: 50px;

}
.text-hours {
  position: absolute;
  color: blue;
  left: 60px;
  width: 180px;
  font-size: 12px;
  top: 50px;

}

#user-icon {
  position: absolute;
  left: 30px;
  top: 90px;

}
.text-users-count {
  position: absolute;
  color: blue;
  left: 60px;
  width: 180px;
  font-size: 12px;
  top: 92px;
}

// SLOT_STATUS//
.registered-for-the-course {

}

.full-course-status {

}

