/* -------------------------------------
* CSS code specific to home page
* (margin/padding adjustments)
* ------------------------------------- */

.banner {
color: white;
text-align: center;
height: 73vh;
/* if you have a 70px navbar => height: calc(100vh - 70px); */
background-size: cover !important;
// display: flex;
align-items: center;
justify-content: center;
padding-top: 50px;
}

.step {
  margin-top: 55px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.step, .testimony {
  font-variant: small-caps;
  text-transform: lowercase;
}

.style-circle {
  border-left: 3px solid #e86a67;
  border-bottom: 2px solid #e89567;
  border-radius: 50%;
  padding: 21px 37px;
}

.avantages {
  font-size: 13px;
  //color: #808080;
  padding-top: 10px;
}

.avantages-border-left {
  border-left: 4px solid #ffb199;
  padding-left: 20px;
}

.avantages-border-right {
  border-right: 4px solid #ffb199;
  padding-right: 20px;
}

h5 .fa {
  padding-right: 5px;
}

h5 {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 20px;

}

.avatar-home {
  width: 74px;
}

@media screen and (max-width: 767px) {
.banner {
  padding-bottom: 150px;
}
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
font-size: 22px;
font-weight: lighter;
color: rgba(255, 255, 255, 0.7);
margin-bottom: 20px;
color: white;
margin: 10px;
margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
.banner h1 {
font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
.banner p {
font-size: 18px;
  }
}


.testimonial{
    padding: 20px 15px;
    text-align: center;
}
.testimonial .pic{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 25px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    padding: 0 15px;
    font-size: 13px;
    color: #808080;
    line-height: 26px;
}
.testimonial .testimonial-title{
    font-size: 13px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-top: 17px;
}
.testimonial .testimonial-title:after{
    content: "\f10d";
    font-family: 'FontAwesome';
    display: inline-block;
    width: 100%;
    font-size: 32px;
    color: #e86a67;
    margin-top: 30px;
}
.titles-home {
  text-shadow: #494444 2px 2px 5px;
}

#keep-in-touch {
  margin-bottom: 25px;
  height: 350px;
}

#keep-in-touch-content {
  height: 40px;
  margin-top: 75px;
}

#keep-in-touch-content h1{
  margin-bottom: 35px;
}

#btn-keep-in-touch {
  background-color: #536A88;
  color:white;

}
