<!-- FOOTER-CONTENT -->
<div class="footer">
  <!-- copyright -->
  <div class="copyright">
    <p>BETA VERSION - Copyright &copy; Asanasano 2017</p>
  </div>
  <!-- socials -->
  <div class="socials">
<!--     <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/asanasano_fr" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a> -->
    <a href="mailto:hello@asanasano.com" class="share-link bg-email">
      <i class="fa fa-envelope-o"> contactez-nous </i>
    </a>
  </div>
</div>
