<!-- FOOTER-CONTENT -->
<div class="footer">
  <!-- copyright -->
  <div class="copyright">
    <p>BETA VERSION - Copyright &copy; Asanasano 2017</p>
  </div>
  <!-- socials -->
  <div class="socials">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
  </div>
</div>
