<!-- FOOTER-CONTENT -->
<div class="footer">
  <div class="container">
    <div class="row text-left padding-left-15">
      <p>BETA VERSION - Copyright &copy; Asanasano 2017</p>
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 footer-bloc ">
          <h5>NOTRE SERVICE</h5>
          <p><%= link_to "Pour les entreprises et CE", corporate_path %></a></p>
          <p><%= link_to "Pour les collaborateurs et particuliers", root_path %></a></p>
          <p><%= link_to "Pour les espaces de co-working, pépinères et incubateurs", corporate_path %></a></p>
          <p><%= link_to "Pour les pros: coachs, profs et instructeurs", pro_path %></a></p>
        </div>
        <div class="col-xs-6 col-sm-3 footer-bloc">
          <h5>A PROPOS DE NOUS</h5>
          <p><a href="#" target="_blank">Blog</a></p>
          <p><a href="mailto:hello@asanasano.com">Contact</a></p>
          <p><a href="#">Presse</a></p>
          <p><a href="#">Partenaires</a></p>
        </div>
        <div class="col-xs-6 col-sm-3 footer-bloc">
          <h5>SUIVEZ-NOUS</h5>
          <p><a href="https://twitter.com/asanasano_fr" target="_blank">Twitter</a></p>
          <p><a href="https://www.facebook.com/AsanasanoFr/" target="_blank">Facebook</a></p>
          <p><a href="https://www.instagram.com/asanasano/" target="_blank">Instagram</a></p>
          <p><a href="https://www.linkedin.com/company/18329882/" target="_blank">LinkedIn</a></p>
        </div>
    </div>
  </div>
</div>
