<div class="course-info">
  <div class="course-name">
    <%= link_to course.name, course_path(course) %>
  </div>
  <div class="sport-icon">
    <%= cl_image_tag course.sport.icon.path, width: 40, height: 40, crop: :fill, class:"sport-icon" %>
  </div>
  <div class="coach-info">
    <div class="coach-name">
        <% if course.coach_id.present? %>
        <p>avec <%= course.coach.first_name %></p>
      <% end %>
    </div>
    <div class="card-user avatar">
      <%= image_tag "avatar.jpg", class: "avatar"%>
    </div>
  </div>
</div>
