  <div class="course-info">
  <div>
    <%= cl_image_tag course.sport.icon.path, width: 40, height: 40, crop: :fill, class:"sport-icon" %>

      <div class="course-name-div">
      <%= link_to course.name, course_path(course), class:"course-name" %>
      </div>
    </div>

    <div class="coach-info">
      <div class="coach-name">
          <% if course.coach_id.present? %>
          <p>Coach: <%= course.coach.first_name %></p>
        <% end %>
      </div>
        <div class="card-user avatar" id="avatar-coach">
        <%= image_tag "avatar.jpg", class: "avatar"%>
        </div>
    </div>
