<!-- Si le user est inscrit à la prochaine séance-->

  <% if slot.users.include?(current_user) %>
    <div class="inscrit-status">Inscrit</div>
  <!-- Si le cours est complet-->
  <% elsif slot.full? %>
    <div class="complet-status">Complet</div>
  <% end %>
