<!-- Si le user est inscrit à la prochaine séance-->
  <% if slot.users.include?(current_user) %>
    <p>Inscrit</p>
  <!-- Si le cours est complet-->
  <% else slot.is_full? %>
    <p>Complet</p>
  <% end %>
