<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="wrapper-login padded">
        <div class="text-center">
<!--           <h1>Editer mon activité</h1> -->
            <%= render 'form_edit' %>
        </div>
      </div>
    </div>
  </div>
</div>


