.course-coach-info {
  text-align: center;

  img {
    width: 64px;
  }
}

.price-slot {
  text-align: right;
}

.price-slot p {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.pencil, .add-icon{
  text-align: right;

}

.pencil :hover {
  color: #3FA6AE;
}

.buy-btn {
  background-color: #FFB80E;
  border: none;
  border-radius: 2px;
  color: white;
}

// .add-icon:hover {
//   color: #3FA6AE;
// }
