// formulaire color
.wrapper-login {
  background-color: rgba(white, 0.6); //rgba(white, 0.6);
  padding: 20px;
  margin-top: 20px;
  @include box-shadow(#9E9E9E 2px 2px 20px);
}

// background image + formulaire content

.wrapper-devise-form {
  background: #F3F3F3;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 30px;
    font-size: 25px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 38px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
  }

  h3 {

    margin-bottom: 10px;
    font-size: 20px;
    font-variant: small-caps;
    text-transform: lowercase;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-color: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }

  .boolean {
    color: black;
  }
}

