// formulaire color
.wrapper-login {
  background-color: rgba(white, 0.6); //rgba(white, 0.6);
  padding: 20px;
  margin-top: 20px;
  @include box-shadow(#9E9E9E 2px 2px 20px);
}

.wrapper-login p {
  font-size: 15px;
}
// formulaire content

.btn-facebook-connect {
  border: solid $dark-grey 2px;
  color: white;
  background-color: $dark-grey;
  border-radius: 10px;
  width: 300px;
  height: 33px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3em;
  padding-top: 2px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.6;
  font-family: sans-serif;
}

.wrapper-devise-form {
  background: #F3F3F3;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  color: $dark-grey;

  h2 {
    margin-bottom: 49px;
    font-size: 35px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 38px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
  }

  h3 {

    margin-bottom: 10px;
    font-size: 24px;
    font-variant: small-caps;
    text-transform: lowercase;
    margin-top: 0;

  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-color: none;
  }

  a {
    color: $dark-grey;
  }

  a:hover {
    text-decoration: underline;
  }

  .boolean {
    color: $dark-grey;
  }
}

.label {
  display: none;
}

